<%  layout("/layout/noilerplate")%>


<div class="row">
    <div class="col-8 offset-2">
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input placeholder="enter title" name="listing[title]" class="form-control" required>
        <div class="invalid-feedback">enter the valid username</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label> 
            <textarea placeholder="enter description" name="listing[description]" class="form-control" required></textarea>
    
        </div>
    
          <div class="mb-3">
            <label for="image" class="form-label">upload image</label> 
            <input type="file" name="listing[image]" class="form-control" required>
    
        </div>
        <div class="row">
            <div class="mb-3 col-4">
            <label for="price" class="form-label">price</label> 
            <input placeholder="enter price" name="listing[price]" class="form-control" required>
        <div class="invalid-feedback">enter the valid price</div>

        </div>
        <div class="mb-3 col-md-8">
            <label for="contry" class="form-label">contry</label> 
            <input placeholder="enter contry" name="listing[contry]" class="form-control" required>
        <div class="invalid-feedback">enter the valid contry</div>

        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label> 
            <input placeholder="enter location" name="listing[location]" class="form-control" required>
        <div class="invalid-feedback">enter the valid location</div>

    
        </div>

    <button class="btn btn-dark add-btn">add</button>
    <br><br>
    </form>
    </div>
</div>

